.buyingMethod{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

.bankCardOn{
    border-radius: 12px;
    border: 1px solid var(--main-blue);
    width: 384px;
    height: 86px;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 22px;
    cursor: pointer;
  }

.bankCardOff{
  border-radius: 12px;
  border: 1px solid grey;
  width: 384px;
  height: 86px;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding-left: 22px;
  cursor: pointer;
}

.bankCardOff .bankCardIcon svg{
  width: 24px;
  height: 24px;
  margin-top: 18px;
  fill : grey;
  cursor: pointer;
}

.bankCardOff .text{
  font-weight: 500;
  color: grey;
  user-select: none;
  cursor: pointer;
}

.bankCardOn .bankCardIcon svg{
  width: 24px;
  height: 24px;
  margin-top: 18px;
  fill : var(--main-blue);
  cursor: pointer;
}

.bankCardOn .text{
  font-weight: 500;
  color: var(--main-blue);
  user-select: none;
  cursor: pointer;
}

