.container{
    height:320px;
    width:230px;
    display: block;
    padding: 0;
    position: relative;
    
    
}   

.frame{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius: 39px;
    overflow: hidden;
}

.image {
    object-fit: cover;
    height: 100%;
    transition: transform .2s;
}
.image:hover{
    -ms-transform: scale(1.15) ; /* IE 9 */
    -webkit-transform: scale(1.15) ; /* Safari 3-8 */
    transform: scale(1.15) ;
}

.text_container{
    display: flex;
}


.description{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: var(--main-black);
    white-space: nowrap;
    overflow-x: none;
    
}

.rating{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}
.comments, .score{
    color: var(--main-blue);
}

.comments::before{
    content: "(";
}
.comments::after{
    content: ")";
}

.price{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-black);
    white-space: nowrap;
    overflow-x: none;
}
.time{
    height: 100%;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: rgb(156, 154, 154);
}

.text_container_time_city{
    display: flex;
    gap: 19px;
    width: 100%;

}

.city{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: rgb(156, 154, 154);  
}

.city_text{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.local_icon svg path{
    fill: gray;
    stroke: gray;
}
.local_icon svg{
    height: 15px;
    width: 15px;
}
.local_icon svg circle{
    fill: gray;
}