.container {
    /* display: grid;
    grid-template-columns: repeat(5,var(--width-card-presentation));
    width: 100%;
    column-gap: 30px; */
    display: flex;
    width: auto;
    gap:clamp(10px,2vw,30px);
    align-items: center;
    justify-content: center;
}

@media(max-width:1350px){
    .container{
        flex-wrap: wrap;
    }
}